.upload {
  width: 150px;
  height: 150px;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.upload:hover {
  border-color: #1890ff;
}
.upload svg {
  width: 20px;
  height: 20px;
}

.upload .preview {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}