
.background-login{
  background-color: white;
  display: flex;
  justify-content: center;
  
}
.title-box{
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}
.login-box{
  margin: 5rem;
  width: 50%;
  height: 50%;
}